.app-content {
  display: flex;
  justify-content: center;
  padding: 20px 4%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}